---
import BBQ from "../assets/Costillas-de-cerdo-BBQ-scaled.jpg";

import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="content">
		<Hero 
			title="Bienvenido a Mir Kulinarii"
			slogan="La cocina de más alta calidad en todo México"
			image={{
				src: BBQ,
				alt: "Costilla BBQ"
			}}
		/>
		
		<Card title="Qué ofrecemos?">
			En Mir Kulinarii le ofrecemos una variedad de cortes de carne de alta calidad, preparados con esmero y dedicación. Desde jugosos cortes de res, suculentas costillas de cerdo hasta ensaladas frescas, cada plato está diseñado para deleitar su paladar. Explore nuestro menú y descubra la pasión por la cocina que nos distingue.
		</Card>
	</div>
</Layout>

<style>
</style>
